.jumbotron{
	background-image: url('img/awal.jpg');
	background-attachment: fixed;
	color: black;
	background-size: cover;
	background-position: 0 -50px;
	height: 450px;
	padding-bottom: 550px;
	text-shadow: 100px;
}

#about{
	background-color: azure;
}

